<template>
  <div class="mt-2">
    <!-- borderless -->
    <div v-if="false == needBorder">
      <div class="text-amber-500 ">{{ title }}</div>
      <div class="">
        <slot></slot>
      </div>
    </div>

    <!-- border aware -->
    <div v-if="true == needBorder">
      <div class="px-1 text-amber-500 ">{{ title }}</div>
      <div class="px-2 py-2 border rounded-md border-slate-300" v-if="true == needBorder">
        <slot></slot>
      </div>
    </div>
  </div>
  
</template>

<script>
export default {
  props: {
    title: String,
    needBorder: Boolean,
  },
  // emits which events if necessary back to the parent component
  //emits: ['onResponse'],
  setup(props) {
    return {}
  }
}
</script>