<template>
  <t-parent-panel :meta="meta" 
    @onclick="onParentPanelClick">
    <!-- template content for panel-info -->
    <div class="text-center pt-[50px]">
      <fa :icon="meta.icon" class="text-[40px]" ></fa>
    </div>
    <div class="w-[80%] pt-3 m-auto">
      <div>{{ meta.title }}</div>
      <div class="text-xl font-bold">{{ meta.value }}</div>
    </div>
    
  </t-parent-panel>
</template>

<script>
import { TParentPanel } from '.';

export default {
  props: {
    meta: Object,
  },
  components: {
    't-parent-panel': TParentPanel,
  },
  setup(props) {
    const onParentPanelClick = function(payload) {
      //console.log(`[panelInfo] payload is ...`)
      //console.log(payload)
      // example on when the parent-panel has been clicked and you would like to do something on top on this event
    }

    return {
      onParentPanelClick,
    }
  },
}
</script>