<template>
  <t-parent-panel :meta="meta">
    <canvas ref="chart" class="m-auto w-[100%] h-[100%] bg-slate-50" @click="updateChart"></canvas>
  </t-parent-panel>
</template>

<script>
import { ref, onMounted, } from 'vue';
import { TParentPanel } from '.';
import ChartJS from 'chart.js/auto'

export default {
  props: {
    meta: Object,
  },
  components: {
    TParentPanel,
  },
  setup(props) {
    const chart = ref()
    const chartJSInstance = ref(null)
    
    // private function to generate data
    const dataGenerator = function() {
      const numDataPoints = 10
      const labels = [ "10:00", "11:00", "12:00", "13:00", "14:00", "15:00", "16:00", "17:00", "18:00", "19:00" ]
      let series1 = { data: [], label: 'error count', borderColor: '#3cba9f', fill: false, }

      const lower = 150
      const upper = 2000
      for (let i=0; i<numDataPoints; i++) {
        let count = Math.floor(Math.random() * 2000)
        while (count < 150) {
          count = Math.floor(Math.random() * 2000)
        }
        series1.data[i] = count
      }
      
      return {
        "type": "line",
        data: {
          labels,
          datasets: [ series1, ],
          options: {
            title: {
              display: true,
              text: 'Trend of # errors'
            }
          }
        }
      } // end - return
    }

    // on-mount event
    onMounted(() => {
      chartJSInstance.value = new ChartJS(chart.value, dataGenerator())
    })

    // updating the chart with new random data
    const updateChart = function() {
      // destroy the previous chart before recreating it (chart.update() somehow did not work under vue)
      if (chartJSInstance?.value) {
        chartJSInstance.value.destroy()
        /*while (!chart?.value) {
          setTimeout(()=>{}, 100)
        }*/
        chartJSInstance.value = new ChartJS(chart.value, dataGenerator())
      }
    }

    return {
      // for html element ref(s); MUST return as external variable
      chart,
      chartJSInstance,

      updateChart,
    }
  }
}
</script>