<template>
  <div @click="onclick"
    class="cursor-pointer px-2 py-2"
    :class="cssClass">
    <!-- meta data would be passed to the child slot's component -->
    <slot></slot>
  </div>

</template>

<script>
import { ref, computed, } from 'vue';

export default {
  props: {
    meta: Object,
  },
  // which events would be emitted back to parent component
  emits: [ "onclick" ],
  setup(props, ctx) {
    const isSelected = ref(false)
    const cssClass = computed(() => {
      let _c = {}
      if (true == isSelected.value) {
        _c = {
          'bg-teal-500': true,
          'text-white': true, 
        }
      } else {
        _c = {
          'bg-white': true,
        }
      }
      _c['rounded-lg'] = true
      // height
      let _h = 180
      if (props.meta?.height) {
        _h = props.meta.height
      }
      _c[`h-[${_h}px]`] = true

      return _c
    })

    // event onclick
    const onclick = function() {
      switch (props.meta?.type) {
      case 'info': 
        isSelected.value = !isSelected.value
        break
      default:
        // do nothing
      }

      // emit event back to parent
      ctx.emit('onclick', { 
        'type': props.meta?.type,
        // any meta required
      })
    }

    // TODO : testing
    //console.log(props.meta)

    return {
      isSelected,
      cssClass,

      onclick,
    }
  }
}
</script>