<template>
  
  <div class="rounded-md bg-white px-1 py-1 overflow-scroll">
    <!-- table by columns rendering -->
    <div class="grid grid-cols-4" :class="cssContainer()">
      <div v-for="(item, idx) in dataCols">
        <!-- header -->
        <div class="px-2 bg-slate-300 py-1" :class="cssHeaders(idx)">
          {{ dataLabel[idx] }}
        </div>
        <!-- content -->
        <div>
          <div v-for="(item2, idx2) in dataset.length">
            <div :data-tooltip-target="'tablecell.'+dataset[idx2][idx]+'.'+idx2" 
              class="truncate px-2 py-1 cursor-default" 
              :class="cssDatarow(idx2)">

              {{ dataset[idx2][idx] }}
              <!-- tooltip -->
              <div :id="'tablecell.'+dataset[idx2][idx]+'.'+idx2" role="tooltip" 
                class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                {{ dataset[idx2][idx] }}
                <div class="tooltip-arrow" data-popper-arrow></div>
              </div>              
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>

</template>

<script>
import { onMounted, ref, computed, } from "vue"
import { initFlowbite } from "flowbite"

export default {
  props: {
    meta: Object,
  },
  setup(props) {
    // data generated
    const data = ref()
    
    // dataGenerator - function to generate random data
    const dataGenerator = () => {
      const rows = 8
      const lastNames = [ "House", "Lennon", "Dimeter", "Lordash" ]
      const firstNames = [ "Lambert", "Joliet", "Matilda", "Logan" ]
      const teams = ["dragon", "phoneix", "griffon", "serpent"]
      let data = []
      
      for (let i=0; i<rows; i++) {
        // user-name, team-name, num-cases-solved, num-cases-assiged
        const user = `${firstNames[Math.floor(Math.random()*4)]} ${lastNames[Math.floor(Math.random()*4)]}`
        const team = `${teams[Math.floor(Math.random()*4)]}`
        const cases = Math.floor(Math.random()*50) + 1 // at least 1 case on hand
        let fix = Math.floor(Math.random()*cases)
        while (fix > cases) {
          fix = Math.floor(Math.random()*cases)
        }
        data[i] = [user, team, cases, fix ]
      }
      return { data, label: [ "user name", "team", "# cases", "# fixed" ], }
    }

    onMounted(() => {
      initFlowbite()
      data.value = dataGenerator()
      console.log(props.meta?.height)
    })

    const dataLabel = computed(() => {
      return data?.value?.label
    })
    const dataset = computed(() => {
      return data?.value?.data
    })
    const dataCols = computed(() => {
      return data?.value?.label.length
    })

    // cssHeaders - handles the css of table corners
    const cssHeaders = (idx) => {
      let c = {}
      switch (idx) {
      case 0:
        c['rounded-tl-md'] = true
        break
      case 3:
        c['rounded-tr-md'] = true
        break
      }
      return c
    }

    const cssDatarow = (idx) => {
      let c = {}
      const isOdd = (idx % 2) == 1
      switch (isOdd) {
      case true:
        c['bg-slate-100'] = true
        break
      }
      return c
    }

    const cssContainer = () => {
      let c = {}
      let h = 150
      if (props.meta?.height) {
        h = props.meta.height
      }
      c[`h-[${h}px]`] = true
      console.log(c)
      return c
    }
    

    return {
      //dataGenerator,
      dataLabel, 
      dataset,
      dataCols,

      cssHeaders,
      cssDatarow,
      cssContainer,
    }
  }
}
</script>