<template>
  <div>
    <label class="py-2 font-light text-slate-400">{{ keyValue }}&nbsp;:&nbsp;</label>
    <span class="text-slate-500">{{ value }}</span>
  </div>
</template>

<script>
export default {
  props: {
    keyValue: String,
    value: String,
  },
  setup(props) {

    return {}
  }
}
</script>