<template>
  <div class="pt-8 pb-20 px-6 w-[1024px] m-auto bg-slate-100 my-5 rounded-lg">
    <div class="text-[18px] font-light text-gray-500">{{ title }}</div>

    <t-frame title="overview">
      <div class="pt-3 grid gap-4 grid-cols-5">
        <t-panel-info :meta='{ 
          "title": "Team velocity", 
          "type": "info",
          "value": 52,
           "icon": "fa-solid fa-chart-simple" }'></t-panel-info>

        <t-panel-info :meta='{ 
          "title": "Team members", 
          "type": "info",
          "value": 16,
           "icon": "fa-solid fa-user-group" }'></t-panel-info>

        <t-panel-info :meta='{ 
          "title": "Task delivered", 
          "type": "info",
          "value": 21,
           "icon": "fa-solid fa-suitcase" }'></t-panel-info>

        <t-panel-info :meta='{ 
          "title": "Cases investigate", 
          "type": "info",
          "value": 23,
           "icon": "fa-solid fa-magnifying-glass" }'></t-panel-info>
           
        <t-panel-info :meta='{ 
          "title": "New events", 
          "type": "info",
          "value": 53,
           "icon": "fa-solid fa-earth-americas" }'></t-panel-info>
      </div>
    </t-frame>

    <div class="mt-8 grid gap-4 grid-cols-2">
      <t-frame title="churn chart">
        <div class="pt-2">
          <t-panel-chart :meta='{ "height": 250, 
            "type": "chart",
            "px": 8, "py": 12, }'></t-panel-chart>
        </div>
      </t-frame>

      <t-frame title="task lists">
        <div class="pt-2">
          <t-table-info :meta="{ 'height': 220, }"></t-table-info>
        </div>
      </t-frame>

      <!--t-frame title="task lists" :needBorder="true">
        <div class="mt-2">
          hi
          <ul>
            <li class="text-red-400">food</li>
            <li>drinks</li>
            <fa icon="fa-solid fa-chart-simple"></fa>
            <li>
              <div>
                <t-caption-label keyValue="name" value="Jason"></t-caption-label>
                <t-caption-label keyValue="gender" value="male"></t-caption-label>
              </div>
            </li>
          </ul>
        </div>
        
      </t-frame -->
    </div>
    
  </div>
</template>

<script>
import { ref } from 'vue'
import { TFrame, TCaptionLabel, TPanelInfo, TPanelChart, TTableInfo, } from './components'

export default {
  props: {
    // any passed in properties
  },
  components: {
    // components declaration
    "t-frame": TFrame,
    "t-caption-label": TCaptionLabel,
    "t-panel-info": TPanelInfo,
    "t-panel-chart": TPanelChart,
    "t-table-info": TTableInfo, 
  },
  setup(props) {
    const title = ref("welcome to YOUR dashboard")

    return {
      title,
    }
  }
}
</script>
